@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html,body{
  height: 100vh;
  width: 100%;
  background: #6665ee;
}
.wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  background: #ffffff;
  width: 600px;
  border-radius: 12px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.form-group{
  margin-top: 10px;
  margin-bottom: 50px;
}
.form-select{
  margin-top: 40px;
  margin-bottom: 60px;
}
.group{
  margin-top: 50px;
  margin-left: 150px;
  width:300px;
}
.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgb(220, 218, 216); 
  border: 1px solid rgba(86, 61, 124, .2);
}
.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}
.form-input{
	margin:90px 0px -38px 130px;
}
.btn-group{
	left: 80%;
}